<!--================Add a Burger Area =================-->
<section class="adding-burger-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 s_white_title justify-content-center ">
				<h3>Welcome to Burger Heaven</h3>
				<h4>Add the Burger of your Dreams...</h4>
				<p>Enter the name of a burger and add</p>
				<form class="create-form">
					<div class="form-group">
						<label for="ca">Burger Name:</label>
						<input type="text" id="ca" name="name">
					</div>
					<button type="submit" class="btn btn-default submit_btn ">Add burger</button>
		
				</form>
					</div>
		</div>
	</div>
	</div>
</section>

<!--================Burgers Note Devoured Area =================-->
<h2>Juicy Burgers waiting to be devoured!</h2>
<section class="burger-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 "></div>
			</br>
			{{#each burgers}}
			{{#unless devoured}}
			{{> burgers/burger-block devour=true}}
			{{/unless}}
			{{/each}}
		</div>
	</div>
	</div>
</section>
{{!-- =========== Burger Devoured Area =================--}}
<h2>Burgers devoured!</h2>
<section class="burger-area">
	<div class="container">
		<div class="row">
			</br>
			{{#each burgers}}
			{{#if devoured}}
			{{> burgers/burger-block devour=false}}
			{{/if}}
			{{/each}}
		</div>
	</div>
</section>