<section class="burger-area">
	<div class="container">
		<div class="row">
			<h2>burgers that are not devoured!</h2>
			</br>
			{{#each burgers}}
			{{#unless devoured}}
			{{> burgers/burger-block devour=true}}
			{{/unless}}
			{{/each}}
			<h2>burgers that are devoured!</h2>
			</br>
			{{#each burgers}}
			{{#if devoured}}
			{{> burgers/burger-block devour=false}}
			{{/if}}
			{{/each}}
		</div>
	</div>
</section>
<!--================End Burgers Area =================-->

<!--================Add a Burger Area =================-->
<section class="adding-burger-area">
	<div class="container">
		<div class="s_white_title">
			<h3>Add a</h3>
			<h2>Burger</h2>
			<p>Enter the name of the burger you would like add</p>
		</div>
		<div class="row">
			<div class="col-md-12"></div>
			<form class="create-form">
				<div class="form-group">
					<label for="ca">Burger Name:</label>
					<input type="text" id="ca" name="name">
				</div>
			</form>
		</div>
		<div class="col-md-3">
			<button type="submit" class="btn btn-default submit_btn">Add burger</button>
		</div>
	</div>
	</div>
</section>
<!--================End Booking Table Area =================-->