label {
  font-size: 14px;
  text-transform: uppercase;
  color:yellow;
  font-family: "Montserrat";
  font-weight: normal;
  padding-bottom: 5px;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.row.m0 {
  padding: 0px;
  margin: 0px;
}

body {
  line-height: 24px;
  font-size: 15px;
}

body, p, h1, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
  color: yellow;
}

h2 {
  color: black;
  font-family: "Montserrat";
  margin-bottom: 30px !important;
  text-align: center;
  padding-top: 20px;
  border: #000;
  border-bottom: solid;
}

#success {
  display: none;
}

#error {
  display: none;
}

/* Main css
============================================================================================ */
.s_white_title {
  text-align: center;
}

.s_white_title h3 {
  font-size: 36px;
  font-family: "Great Vibes", cursive;
  color: #fff;
}

.s_white_title h2 {
  font-size: 36px;
  font-family: "Cantata One", serif;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0px 20px 0px;
}

.s_white_title p {
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.s_black_title {
  text-align: center;
}

.s_black_title h3 {
  font-size: 36px;
  font-family: "Great Vibes", cursive;
  color: #b10400;
}

.s_black_title h2 {
  font-size: 36px;
  font-family: "Cantata One", serif;
  text-transform: uppercase;
  color: #333333;
}

.s_white_red_title {
  text-align: center;
}

.s_white_red_title h3 {
  font-size: 36px;
  font-family: "Great Vibes", cursive;
  color: #b10400;
}

.mor-burger {
  background: transparent;
  text-align: center;
  width: 120px;
  font-family: "Cantata One", serif;
  color: #333333;
  line-height: 40px;
  display: inline-block;
  font-size: 12px;
  z-index: 2;
  position: relative;
  letter-spacing: .42px;
  text-transform: uppercase;
}

.mor-burger i {
  padding-right: 5px;
}

.mor-burger:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid #333333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.mor-burger:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #b10400;
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.mor-burger:hover {
  color: #fff;
}

.mor-burger:hover:before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.mor-burger:hover:after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.submit_btn {
  background: transparent;
  text-align: center;
  font-family: "Montserrat";
  line-height: 28px;
  display: inline-block;
  font-size: 14px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  position: relative;
  letter-spacing: .42px;
  text-transform: uppercase;
  outline: none !important;
  box-shadow: none !important;
  border: none;
  /* color: #fff; */
}

.submit_btn i {
  padding-right: 5px;
}

.submit_btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #b10400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.submit_btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #b10400;
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  border-radius: 5px;
}

.submit_btn:hover {
  color: #fff;
  background: transparent;
}

.submit_btn:hover:before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.submit_btn:hover:after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.burger-area {
  padding: 10px 0px 50px 0;
}

.burger-item {
 margin-left: 3%;
  border: 1px solid #b10400;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
  height: 320px;
  width: 144px;
}

.burger-item img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  top: -64px;
}

.burger-item h3 {
  font-size: 20px;
  font-family: "Cantata One", serif;
  color: #b10400;
  text-transform: uppercase;
  padding: 90px 0px 10px 0;
}

.burger-item p {
  font-size: 14px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  color: #666666;
  padding: 15px 0px 25px 0;
}

.burger-item {
  position: relative;
  z-index: 3;
}

.burger-item .burger-item-inner:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition: all 200ms ease-in;
}

.burger-item .icon_hover {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.burger-item .icon_hover {
  height: 44px;
  width: 44px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  transition: all 400ms linear 0s;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.burger-item .icon_hover i:hover {
  background: rgba(177, 4, 0, 0.7);
}

.burger-item img {
  max-width: 100%;
}

.burger-item .title_text {
  background: #b10400;
  padding: 18px 10px;
}

.burger-item .title_text .feature_left {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  padding-right: 4px;
  font-family: "Cantata One", serif;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 4;
  color: #fff;
}

.burger-item .title_text .feature_left a {
  color: #fff;
  font-family: "Cantata One", serif;
  font-size: 16px;
  text-transform: uppercase;
}

.burger-item .title_text .restaurant_feature_dots {
  height: 2px;
  background: radial-gradient(circle closest-side, #fff 67%, transparent 100%);
  background-position: 50% 65%;
  background-size: 4px 2px;
  background-repeat: repeat-x;
  display: table-cell;
  width: 98%;
  z-index: 1;
  position: relative;
}

.burger-item .title_text .feature_right {
  display: table-cell;
  width: 1%;
  padding-left: 7px;
  white-space: nowrap;
  font-family: "Cantata One", serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.burger-item:hover .burger-item_inner:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.burger-item:hover .icon_hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Adding Burger CSS
============================================================================================ */
.adding-burger-area {
  background: url("../images/notDevoured2.jpg") no-repeat fixed center center;
  background-size: cover;
  height: 75%;
  position: relative;
  z-index: 2;
  padding: 100px 0px;
  /* overflow: hidden; */
}

.adding-burger-area:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.adding-burger-area .s_white_title {
  padding-bottom: 55px;
}

.adding-burger-area .input-append {
  position: relative;
}

.adding-burger-area .input-append input {
  width: 100%;
  background: #fff;
  outline: none;
  box-shadow: none;
  border: 1px solid #aaaaaa;
  height: 40px;
  padding: 0px 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.adding-burger-area .input-append input.placeholder {
  font-size: 14px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.adding-burger-area .input-append input:-moz-placeholder {
  font-size: 14px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.adding-burger-area .input-append input::-moz-placeholder {
  font-size: 14px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.adding-burger-area .input-append input::-webkit-input-placeholder {
  font-size: 14px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

.adding-burger-area .input-append:before {
  content: "\f0dc";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  color: #666666;
}
