<li>
	{{name}}
	{{#unless this.devoured}}
	<button class="change-devour" data-id="{{this.id}}" >
		DEVOUR TIME!
	</button>
	{{/unless}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>